/* .btn-primary
{
   background-color: aqua; 
   color: rgb(224, 5, 5);
   width: 30%;
}
.btn-success
{
    background-color: chartreuse;
    width: 50%;
    border-radius: 40%;
} */
/* div
{
     background-image: linear-gradient(180deg, blue, #ff0000); 

    width:50%;
} */